* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", sans-serif;
}
.banner-container {
  background-image: url(https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15%;
}
.info-box {
  background: rgba(255, 255, 255, 0.75);
  padding: 40px;
  max-width: 800px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.title {
  color: #bf4240;
  font-size: 32px;
  margin-bottom: 20px;
}
.description {
  color: #3f3424;
  font-size: 14px;
  margin-bottom: 15px;
}
.location {
  color: #3f3424;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}
.price {
  position: absolute;
  background: #bf4240;
  color: #fff;
  right: 30px;
  bottom: -25px;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
}
