* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 40px 20px;
  background: #eee;
}

.header {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}
.title {
  font-size: 2.5rem;
}
.title span {
  background: linear-gradient(-45deg, #335deb, #803bea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-title {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 10px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3 ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.card h2 {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
}
.icon-wrapper {
  position: relative;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}
.icon i {
  font-size: 28px;
}
.icon-wrapper::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0.4;
  z-index: 1;
}
.card-red .icon,
.card-red .icon-wrapper::after {
  background: linear-gradient(90deg, #e15574 0%, #e3775a 100%);
}
.card-red:hover {
  border: 2px solid #e15574;
}
.card-blue .icon,
.card-blue .icon-wrapper::after {
  background: linear-gradient(90deg, #316bce 0%, #6b8ef2 100%);
}
.card-blue:hover {
  border: 2px solid #316bce;
}
.card-yellow .icon,
.card-yellow .icon-wrapper::after {
  background: linear-gradient(90deg, #e28933 0%, #f3bd49 100%);
}
.card-yellow:hover {
  border: 2px solid #e28933;
}

hr {
  color: #ddd;
  margin: 10px 0;
}
.ex-list {
  margin-bottom: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ex-list li {
  width: 100%;
}

.ex-list a {
  display: block;
  text-decoration: none;
  background: #eff6ff;
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s;
}

.ex-list a:hover {
  background: #2563eb;
  color: white;
}
.card:hover {
  transform: translateY(-5px);
}

.more {
  gap: 15px;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  justify-content: center;
  background: #333;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.more i {
  font-size: 20px;
  color: white;
}
.more a {
  text-decoration: none;
  color: white;
}

.more:hover {
  background: transparent;
  color: #333;
  border-color: #333;
}

.more:hover a,
.more:hover i {
  color: #333;
}
