body {
  margin: 0;
}
.footer {
  background-color: #2c3e50;
  padding: 20px;
  color: white;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.highlight {
  color: #fea500;
}
h2 ~ p {
  font-size: 13px;
}
.form-subscribe {
  border: none;
  display: flex;
  gap: 5px;
}
.input-form {
  width: 220px;
  height: 30px;
  font-size: 13px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #696969;
}
.btn-form {
  width: 180px;
  background-color: #f8db35;
  font-size: 12px;
  border: 1px solid #696969;
  border-radius: 4px;
}

.footer:hover .input-form {
  background-color: #ddd;
}
.footer:hover .input-form::placeholder {
  color: #fea500;
}
.footer:hover .btn-form {
  background-color: #fea500;
  color: #fff;
}
