.content-container {
  font-family: Arial, Helvetica, sans-serif;
  color: #535761;
  line-height: 1.6;
}
h2 {
  color: #4f5d77;
  font-size: 20px;
}
.code {
  background-color: #e2e8f4;
  padding: 2px 4px;
  border-radius: 6px;
  font-family: monospace;
  color: #757c92;
  font-size: 14px;
}
a {
  color: #6fa6f0;
}
.text-card {
  padding: 10px 40px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 17px;
}
.text-card p {
  color: #718096;
  text-align: justify;
}
.learn-more {
  font-weight: bold;
  color: #1d67c6;
  padding-bottom: 10px;
  display: inline-block;
}
.learn-more:hover {
  color: #2c5282;
  border-bottom-color: #2c5282;
}
