* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #666;
}
.main-menu {
  display: flex;
  align-items: center;
  list-style: none;
  background: #fff;
  border: 0.5px solid #e0e0e0;
  font-size: 14px;
}
.main-menu > li {
  position: relative;
  border-right: 0.5px solid #e0e0e0;
}
.main-menu > li.contact-item {
  margin-left: auto;
  border-left: 1px solid #e0e0e0;
  border-right: none;
}
.main-menu > li > a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  transform: all 0.2s;
}
.main-menu i {
  margin-right: 8px;
}
.arrow {
  font-size: 10px;
  margin-left: 5px;
}
.main-menu > li:hover > a {
  background-color: #2da5da;
  color: #fff;
}
.submenu {
  display: none;
  position: absolute;
  list-style: none;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  min-width: 180px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.main-menu > li:hover .submenu {
  display: block;
}
.submenu li {
  border-bottom: 1px solid #f0f0f0;
}
.submenu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
}
.submenu li a:hover {
  background-color: #fafafa;
  color: #2da5da;
}
.submenu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: transparent;
}
.submenu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 25px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.05));
}
