* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}
p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.form-group {
  flex: 1;
}
input,
select,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
  padding: 20px 40px;
  background-color: #4c77d9;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 99px;
}
.btn-submit:hover {
  background-color: #3b5bdb;
}
