body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.image {
  background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.layout {
  position: absolute;
  background: rgba(255, 255, 255, 0.64);
  border-radius: 6px;
  width: 33%;
  height: 36%;
  font-size: 14px;
  text-align: center;
  top: 40%;
  left: 57%;
  transform: translate(-50%, -50%);
}
.layout p {
  font-weight: bold;
}
.layout p a {
  color: #000;
}
