body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.title p {
  margin-bottom: 60px;
  color: #666;
}
.services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.service {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 40px 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #f3a63b;
  border: 2px solid #f3a63b;
}
.service p {
  color: #666;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.service a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background-color: #f3a63b;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}
.btn-readmore:hover {
  background-color: #d98e2b;
}
